html {
    margin-top: 0 !important;
}

main {
    margin-top:100px !important;
}

.site-header {
    height: 80px;
}


input, button {
    border-radius: 0 !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

blockquote {
    background-color: #f9f9f9;
    border-left: 6px solid #5ca2df;
    border-right: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-radius: 3px;
    margin: 0 0 20px;
    font-size: 5px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 20px 15px 20px 32px;
    position: relative;
}

blockquote::before {
    content: "\f10d";
    color: #5ca2df;
    font-family: FontAwesome;
    font-size: 22px;
    position: absolute;
    left: 8px;
    top: 17px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(190, 190, 190); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(112, 112, 112); 
}

a {
    text-decoration: none !important;
}

#scrollUp {
    bottom: 20px;
    right: 20px;
    width: 38px; /* Width of image */
    height: 38px; /* Height of image */
    background: url('../imgs/top.png') no-repeat;
}

.loader {
    background-color: rgba(255, 255, 255, 0.767)
}

.search-form{
    margin-top: 15px;
}

.search-form-input{
    opacity: .8;
    transition: 1s;
}

.search-form-input:hover {
    opacity: 1;
}

.search-form-input:focus{
    opacity: 1;
}

/**/
.dropdown-item{
    padding-left: 15px !important
}

.dropdown-item {
    border-left: 0px solid transparent;
    transition: .4s;
    cursor: pointer;
    /*max-width: 220px;*/
}

.dropdown-item:hover {
    color:white;
    background-color:rgb(43, 43, 43);
    border-left: 3px solid rgb(52, 134, 211) ;
}

#user-menu .dropdown-item:hover {
    color:white;
    background-color:rgb(66, 66, 66);
    border-left: 3px solid rgb(52, 134, 211) ;
}

.dropdown-link {
    transition: .4s;
}

.dropdown-item:hover .dropdown-link {
    color: white !important;
}

.dropdown-submenu {
    /*display: none;*/
}
.dropdown-subitem {
    list-style: none;
    transition: 1s;
    padding:5px;
}
.dropdown-subitem:hover {
    padding-left: 10px;
}
/*
.dropdown-item-has-children > a::after {
    content: " \f0d7";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding-right: 0.5em;
    float: right;
}
*/


/* Home News DESKTOP */

.home-news-header{
    background-color: #3B6ED9;
    color: white;
    padding: 15px;
    margin: 0;
    padding-left: 20px !important;
    /* border-radius: 3px; */
    border-bottom: 4px solid #455983;
    font-weight: bold;
}

.home-news-header-title {
    margin-top: 15px;
}

.home-news-article-img{
    width: 100%;
    height: 200px;
}



.home-news-article-title {
    transition: 1s;
    text-transform: capitalize;
    -webkit-transition: 1s;
    transition: 1s;
}

.home-news-article:hover .home-news-article-title {
    color:#3B6ED9;
}

.home-news-article .list-group-item:hover  {
    background-color: transparent;
}


/*END HOME NEWS DESKTOP*/
.home-news-mobile-header{
    background-color: #3B6ED9;
    color: white;
    padding: 15px;
    margin: 0;
    padding-left: 20px !important;
    /* border-radius: 3px; */
    border-bottom: 4px solid #455983;
    font-weight: bold;
}

.home-news-mobile-header-title {
    margin-top: 15px;
}

.home-ferramentas{
    
    /*border-bottom: 9px solid;
    */border-color: rgb(90, 132, 223);
    border-radius: 5px;
    padding-bottom: 20px !important;
}

.home-ferramentas-header {
    /*    background-color: rgb(223, 82, 82);
    color: white;
    margin: 0;
    padding-left: 20px !important;
    border-radius: 3px; 
    border-bottom: 4px solid #aa2222;
    font-weight: bold;
    */
    
    border-top: 9px solid;
    border-color: rgb(90, 132, 223);
    border-radius: 5px;
    
    
} 

.home-ferramentas-header h4 {
    color: rgb(76, 105, 168) !important;
}

.home-aside-comunicados-header {
    /*background-color: rgb(223, 82, 82);*/
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #df4b57;
    /*color: white;*/
    margin: 0;
    border-radius: 0px; 
    border-bottom: 4px solid #b1303a;
    /*font-weight: bold;*/
    font-size: 20px;
    border-radius: 0;
    /*color: #534509ff;*/
    color: white !important;
    
}

.home-aside-comunicados-header a {
    /*color: #534509ff !important;*/
    color:white;
    text-decoration: none;
}

.menu-menu-lateral-container ul {
    margin:0;
    padding:0;
}

.home-asidel-header {
    background-color: rgb(56, 57, 58);
    color: white;
    margin: 0;
    border-radius: 0px; 
    border-bottom: 4px solid black;
    font-weight: bold;
}

.home-asidel-menu li{
    border-left: 4px solid  rgb(71, 122, 233);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
    list-style: none;
    background-color: #343a40;
    color:white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    transition: 1s;
}

.home-asidel-menu li a {
    color:white;
    padding:6px;
    color:white;
    padding:6px;
    display: block;
    padding: .5rem 1rem;
    cursor: pointer;
    
}
/*
.menu-item-has-children::after {
    content: "\f000";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: white;
    font-size: 5px;
    padding-right: 0.5em;
    position: absolute;
    top:0;
    right: 0;
}

*/
/*
.menu-item-has-children a::after {
    content: " \f0d7";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: white;
    padding-right: 0.5em;
    float: right;
}
*/

.menu-item-has-children-disable > a::after {
    content: "\f107" !important;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: white !important;
    padding-right: 0.5em;
    float: right !important;
    position: relative !important;
    right: 50 !important;
    /*right: 50;*/
    /*
    transition: 1s;
    background-color: black;
    padding-left: 5px;
    padding-right: 5px;
    */
    
}

.menu-item-has-children-active > a::after {
   /* transition: 5s !important; */
    content: "\f106" !important;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: white;
    padding-right: 0.5em;
    float: right !important;
    position: relative !important;
    right: 50 !important;
/*
    background-color: black;
    padding-left: 5px;
    padding-right: 5px;
    */

}

.menu-item-has-children ul li a::after {
    content: " ";
}
.home-asidel-menu ul li ul {
    display: none;
}

.home-asidel-menu ul li ul li {
    border-color:transparent;
    
}

.home-asidel-menu ul li ul li:hover {
    border-color:transparent;
    border-left-width: 15px;
    
}

.home-asidel-menu li:hover{
    border-left: 8px solid rgb(71, 122, 233);
}
.home-aside-clipagem-header {
    /*background-color: rgb(55, 121, 187);*/
    background-color: #6666FF;
    color: white;
    margin: 0;
    border-radius: 0px; 
    border-bottom: 4px solid rgb(71, 71, 219);
    /*font-weight: bold;*/
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    border-radius: 0;
}

.home-news-mobile-article-img{
    width: 100%;
    height: 200px;
}

/*.home-news-mobile-article-img {
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
}

.home-news-mobile-article:hover .home-news-mobile-article-img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    
    
}*/

.home-ferramentas-article {
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    
}

.border-red-bottom{
    transition: 1s;
}

.border-red-top {
    transition: 1s;
}

.home-ferramentas-article:hover .border-red-bottom {
    left: -8px !important;
    bottom: -8px !important;
}

.home-ferramentas-article:hover .border-red-top {
    right: -10px !important;
    top: -10px !important;
}

.home-ferramentas-article:hover{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}

.list-group {
    -webkit-transition: .5s ease-in-out all;
    -moz-transition: .5s ease-in-out all;
    transition: .5s ease-in-out all;
}

.list-group:hover{
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    transform: scale(1.02);
}

.list-group-item-hover{
    -webkit-transition: .2s ease-in-out all;
    -moz-transition: .2s ease-in-out all;
    transition: .2s ease-in-out all;
}
.list-group-item figure {
    overflow: hidden;
}

.list-group-item figure img {
    overflow-wrap: normal;
    transition: 1s;
}

.list-group-item-hover:hover figure img {
    transform: scale(1.5)  rotateZ(-8deg);
    padding-top:0 !important;
}
.home-news-mobile-article-title h5 {
    transition: 1s;
    text-transform: capitalize;
    
}

.home-news-mobile-article .list-group-item:hover {
    background-color:rgb(101, 134, 206);
    transform: scale(.9);
}

.list-group-item-hover:hover > .home-news-mobile-article-title h5{
    color: white;
    text-decoration: underline;
}

.archive-comunicados-content {
    box-shadow:rgba(0,0,0,.2) 0 4px 16px;
}
.archive-comunicados-content h4 {
    background-color: rgb(88, 129, 219);
    border-bottom: 5px solid #3B6ED9
}

.archive-noticias-content h4 {
    padding: 5px;
    border-bottom: 5px solid rgb(19, 24, 31)
}

.archive-noticia-article-img {
    width: 100%;
    height: 250px !important;
}

.thc-calendar {
    margin:auto;
}

.thc-calendar table th {
    padding:10px;
}

.thc-calendar-day {
    padding:15px;
}

.thc-calendar table thead tr{
    margin-left: -20px;
}

.thc-highlight {
    background-color: mediumslateblue;
    color: white;
    padding:5px;
    position: relative;
    left:-8px;
    border: 2px solid mediumslateblue;
}

.thc-highlight:hover {
    background-color: transparent;
    color: mediumslateblue;
}

.thc-calendar-navigation {
    text-align: center;
}

.widget_calendar {
    border: 1px solid rgba(79, 128, 218, 0.281);
    padding: 10px;
    
}

.thc-calendar caption {
    background-color: mediumslateblue;
    text-transform: uppercase;
    text-align: center;
    margin-top:20px;
    color:white;
    border: 2px solid mediumslateblue;
}

.thc-calendar caption:hover {
    background-color: transparent;
    color: mediumslateblue;
}

.thc-calendar-navigation td {
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white !important;
    
}

.thc-calendar-navigation td a{
    color: white;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 50px;
    padding-right: 50px;
}


.thc-calendar-navigation td:nth-child(1){
    background-color: rgb(68, 68, 68);
    border: 2px solid rgb(68, 68, 68);
}

.thc-calendar-navigation td:nth-child(1):hover{
    background-color:transparent;
    color: rgb(68, 68, 68);
}

.thc-calendar-navigation td:nth-child(1):hover a {
    color: rgb(68, 68, 68);
}

.thc-calendar-navigation td:nth-child(3){
    background-color: rgb(110, 87, 236);
    border: 2px solid  rgb(110, 87, 236);
}

.thc-calendar-navigation td:nth-child(3):hover{
    background-color:transparent;
    color: rgb(68, 68, 68);
}

.thc-calendar-navigation td:nth-child(3):hover a {
    color: rgb(68, 68, 68);
}

.birthday_wish {
    text-align: center;
}

.birthday_date {
    text-align: center !important;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #3B6ED9;
    color:white;
}
.birthday_date::before {
    content: 'Dia ';
}

.birthday_name {
    text-align: center;
}

#wpadminbar{ 
    display: none !important;
}


.conteudo {
	margin: 0 !important;
	padding: 0px !important;
    background-color:#EEEEEE;
    z-index: 1;
    height: auto;
}

.post-panel {
	margin:0px !important;
	padding: 0px !important;
	height: auto;
	/*position: relative;*/
	/*top:80px;*/
    
}
.post-title{	
	background-color: rgba(34, 36, 43, 0.8);
	height: auto;
	color: white;
	text-align: center;
	padding: 0;
	position: relative;
	width: 100%;
	margin-right: 0;
	margin-left: 0;
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 200px;
	padding-right: 200px;
}

.post-content {
	background-color:transparent;
	height: auto;
	/*padding-bottom: 80px;*/
	text-align: justify;
    word-wrap: break-word;
    font-size: 20px;
	word-wrap: break-word;
	/*overflow:none;*/
	line-height: 40px;
    
    
}
/*
.post-content::first-letter {
    /*text-transform: uppercase;
    color: rgb(106, 138, 207);
    font-size: 40px;
    font-style: italic;
    
}
*/

.post-content p {
    font-size: 1.25rem !important;
	word-wrap: break-word;
	overflow:auto;
    line-height: 40px;
    letter-spacing: -.6px
}

.post-content-text {
    overflow: hidden !important;
}

.post-content-text p {
    overflow: hidden;
}

.post-content-text::first-letter{
    color: rgb(58, 120, 190);
    float: left;
    font-family: Georgia;
    font-size: 5.25rem;
    line-height: 60px;
    padding-top: 10px;
    padding-right: 8px;
    padding-left: 3px;
    text-transform: uppercase;
    
}
/**
.post-content p::first-letter{
	color: #3C86FF;
	letter-spacing: 5px;
	line-height: 20px;
	float: left;
    font-weight: normal;
    float: left;
    font-size: 7.5rem;
    line-height: .75;
    letter-spacing: .15em;
    margin-top: .2em;
}
*/

.post-content .content {
	font-size: 20px;
	word-wrap: break-word;
	overflow:auto;
}
.post-content .content::first-letter{
	font-size: 200%;
	color: #3C86FF;
}

.post-bg{
    background-image: url("../imgs/back_2.jpg");
    height: auto;
	text-align: center;
	padding: 0;
	position: relative;
	width: 100%;
	margin-right: 0;
    margin-left: 0;
    background-position: center center;
    background-attachment: fixed;
    background-size: 100%;
    position: fixed;
    top:0;
    margin-top:0;
    /* z-index: -1; */
}

.post-main {
    position: relative;
    top:250px;
    background-color: transparent;
}

/*Paginação*/


.current {
    background-color: #3B6ED9 !important;
    color: white !important;
}

.page-numbers {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.tickets-table-size {
    font-size: 1.5vh !important;
}


@media (max-width: 576px) {
    .header {
        position:relative !important;
        height: auto;
    }
    
    .nav-mobile {
        width: 100px;
        position: absolute;
        right: 2px;
    }
    .navbar-brand {
        widows: 200px !important;
    }
    .navbar-brand img {
        width: 200px;
    }
    
    main {
        margin-top:0 !important;
        margin-left: auto !important; 
        margin-right: auto !important;
    }
    
    /*.home-asidel {
        display: none;
    }
    */
    
    .home-news-mobile-article-img{
        width: 100%;
        height: 400px;
    }
    
    .archive-noticia-article-img {
        width: 100%;
        height: 400px !important;
    }
    
    .tickets-table-size {
        font-size: 10px !important;
    }
}

@media (max-width: 768px) { 
    .header {
        position:relative !important;
        height: auto;
    }
    main {
        margin-top:10 !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    /*
    .home-asidel {
        display: none;
    }
    */
    .home-news-mobile-article-img{
        width: 100%;
        height: 400px;
    }
    
    .archive-noticia-article-img {
        width: 100%;
        height: 400px !important;
    }
    .tickets-table-size {
        font-size: 10px !important;
    }
}

@media (max-width: 1024px) {
    .header {
        position:relative !important;
    }
    main {
        margin-top:10 !important;
        
    }
    
    .home-news-mobile-article-img{
        width: 100%;
        height: 400px;
    }
    
    .archive-noticia-article-img {
        width: 100%;
        height: 400px !important;
    }
}

@media (min-width: 1200px) {
    .post-bg {
        margin-top:80px;
    }
    
    .post-main {
        margin-top:80px !important;
        margin-bottom: 50px !important;
    } 
    
    main {
        margin-bottom: 50px;
    }
    
    .home-news-mobile-article-img{
        width: 100%;
        height: 250px;
    }
    
}